body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #eadcbc;
    padding: 10px 20px;
  }
  
  header img {
    width: 30px;
    margin-right: 50px;
    cursor: pointer;
  }
  
  header h1 {
    font-size: 36px;
    color: #122b56;
  }
  
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 3rem auto;
    width: 90%;
    border-radius: 12px;
  }
  
  .search-bar label {
    font-weight: 600;
    color: #555;
    font-size: 14px;
  }
  
  .search-bar input[type="text"],
  .search-bar input[type="date"],
  .search-bar input[type="time"] {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    outline: none;
    font-size: 14px;
    transition: border 0.3s, background-color 0.3s;
    width: 200px;
  }
  
  .search-bar input[type="text"]:focus,
  .search-bar input[type="date"]:focus,
  .search-bar input[type="time"]:focus {
    border: 1px solid #002244;
    background-color: #fff;
  }
  
  
  
  .search-bar button:hover {
    background-color: #001730;
  }
  

  
  .search-bar button {
    padding: 10px 20px;
    background-color: #122b56;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .search-bar label {
    font-weight: bold;
    color: #333;
  }
  
  table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 4rem;
  }
  
  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #e2d1ae;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .search-bar input[disabled] {
    background-color: #eee;
    cursor: not-allowed;
  }
  
  header img.reserve-icon {
    width: 80px;
    margin-right: 10px;
    cursor: default;
  }